## 모듈 임포트

In [2]:
import pandas as pd
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'pandas'

## 1. 데이터 전처리

1. 필요없는 컬럼 삭제
2. 5년 단위로 나누기

In [ ]:
df = pd.read_excel("E:/백업/경찰대학/4-1/경비론/gtdb70-20.xlsx")

In [ ]:
df.drop(['eventid','imonth', 'iday','latitude', 'longitude','targtype1', 'targtype1_txt', 'targsubtype1',
       'targsubtype1_txt', 'corp1', 'target1','natlty1', 'natlty1_txt','propextent', 'propextent_txt',
       'propvalue', 'dbsource','weapdetail'], axis=1, inplace=True)

In [ ]:
df.sort_values('iyear', inplace=True)

In [ ]:
df.drop(df.index[:71658], inplace =True)

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
dfa = df[:7702]
dfb = df[7702:28060]
dfc = df[28060:85805]
dfd = df[85805:]

In [ ]:
dfa.reset_index(drop=True, inplace=True)
dfb.reset_index(drop=True, inplace=True)
dfc.reset_index(drop=True, inplace=True)
dfd.reset_index(drop=True, inplace=True)

## 2.1 통계분석 - 대륙별 통계분석

1 = North America
2 = Central America & Caribbean
3 = South America
4 = East Asia
5 = Southeast Asia
6 = South Asia
7 = Central Asia
8 = Western Europe
9 = Eastern Europe
10 = Middle East & North Africa
11 = Sub-Saharan Africa
12 = Australasia & Oceania

1..3 -> america
4..7 -> asia
8..9 -> europe
10..11 -> africa
12 -> Australasia & Oceania

### 2.1.1 대륙별 테러 수 통계내기

#### 2.1.1.1 2001~2005

In [ ]:
america = 0
asia = 0
europe = 0
africa = 0
oceania = 0
for i in tqdm(range(len(dfa))):
    if dfa['region'][i]<=3:
            america += 1
    elif dfa['region'][i]<=7:
            asia += 1
    elif dfa['region'][i]<=9:
            europe += 1
    elif dfa['region'][i]<=11:
            africa += 1
    else:
            oceania += 1    
x = ['america', 'asia', 'europe', 'africa', 'oceania&australasia']
y = [america, asia, europe, africa, oceania]
plt.bar(x,y)
for i, v in enumerate(x):
    plt.text(v, y[i], y[i],                 # 좌표 (x축 = v, y축 = y[0]..y[1], 표시 = y[0]..y[1])
             fontsize = 9, 
             color='blue',
             horizontalalignment='center',  # horizontalalignment (left, center, right)
             verticalalignment='bottom')    # verticalalignment (top, center, bottom)

plt.show()

#### 2.1.1.1 2006~2010

In [ ]:
america = 0
asia = 0
europe = 0
africa = 0
oceania = 0
for i in tqdm(range(len(dfb))):
    if dfb['region'][i]<=3:
            america += 1
    elif dfb['region'][i]<=7:
            asia += 1
    elif dfb['region'][i]<=9:
            europe += 1
    elif dfb['region'][i]<=11:
            africa += 1
    else:
            oceania += 1    
x = ['america', 'asia', 'europe', 'africa', 'oceania&australasia']
y = [america, asia, europe, africa, oceania]
plt.bar(x,y)
for i, v in enumerate(x):
    plt.text(v, y[i], y[i],                 # 좌표 (x축 = v, y축 = y[0]..y[1], 표시 = y[0]..y[1])
             fontsize = 9, 
             color='blue',
             horizontalalignment='center',  # horizontalalignment (left, center, right)
             verticalalignment='bottom')    # verticalalignment (top, center, bottom)

plt.show()

#### 2.1.1.1 2011~2015

In [ ]:
america = 0
asia = 0
europe = 0
africa = 0
oceania = 0
for i in tqdm(range(len(dfc))):
    if dfc['region'][i]<=3:
            america += 1
    elif dfc['region'][i]<=7:
            asia += 1
    elif dfc['region'][i]<=9:
            europe += 1
    elif dfc['region'][i]<=11:
            africa += 1
    else:
            oceania += 1    
x = ['america', 'asia', 'europe', 'africa', 'oceania&australasia']
y = [america, asia, europe, africa, oceania]
plt.bar(x,y)
for i, v in enumerate(x):
    plt.text(v, y[i], y[i],                 # 좌표 (x축 = v, y축 = y[0]..y[1], 표시 = y[0]..y[1])
             fontsize = 9, 
             color='blue',
             horizontalalignment='center',  # horizontalalignment (left, center, right)
             verticalalignment='bottom')    # verticalalignment (top, center, bottom)

plt.show()

#### 2.1.1.1 2016~2020

In [ ]:
america = 0
asia = 0
europe = 0
africa = 0
oceania = 0
for i in tqdm(range(len(dfd))):
    if dfd['region'][i]<=3:
            america += 1
    elif dfd['region'][i]<=7:
            asia += 1
    elif dfd['region'][i]<=9:
            europe += 1
    elif dfd['region'][i]<=11:
            africa += 1
    else:
            oceania += 1    
x = ['america', 'asia', 'europe', 'africa', 'oceania&australasia']
y = [america, asia, europe, africa, oceania]
plt.bar(x,y)
for i, v in enumerate(x):
    plt.text(v, y[i], y[i],                 # 좌표 (x축 = v, y축 = y[0]..y[1], 표시 = y[0]..y[1])
             fontsize = 9, 
             color='blue',
             horizontalalignment='center',  # horizontalalignment (left, center, right)
             verticalalignment='bottom')    # verticalalignment (top, center, bottom)

plt.show()